<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        

    <p id="p2"> Welcome to the Website</p>
       <p id ="p2"> Have a Look </p>

         
        
        
       
    </main>
<% include partials/footer.ejs %>
    
