<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %> Page</h1>

    <p id="p1"> Welcome to the Website</p>
    
     <h2 id="H">Have a Look</h2>
     <h3 id="H"> I hope You Like It </h3>
       
<img id="me" src="http://www.theparisphotographer.com/wp-content/uploads/2013/09/Paris-photographer-Engagement-photography-in-Paris.jpg"
         alt="Me" style="width:500px;height:550px;">
     
        
        
       
    </main>
<% include partials/footer.ejs %>
    
