<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
    
        
     
  <div id="wrap">
      <ui id="a">
       <li id="b"> <a href="#Arjun">Arjun Kapoor</a></li>
       <li id="b"> <a href="#Alia">Alia Bhatt</a ></li>
       <li id="b"> <a href="#Pri">Priyanka Chopra</a ></li>
     </ui>

	<div id="content">
		<h2 id="Arjun">Arjun Kapoor<span class="post-span">- 25 Feb 2016</span></h2>
        
		<img src="http://www.pinkvilla.com/files/images/Arjun_GQ.preview.jpg" class="post-img" alt="Bild" />
		<p>Arjun Kapoor (born 26 June 1985) is an Indian actor who appears in Bollywood films. He is the son of film producers Boney Kapoor and Mona Shourie Kapoor. After working as an assistant director and associate producer on several films he made his acting debut with Habib Faisal's romantic drama Ishaqzaade (2012), for which he was nominated for the Filmfare Award for Best Male Debut. In 2014, he starred in the action film Gunday and the romance 2 States, both of which earned over ₹1 billion (US$15 million) worldwide. In addition to acting in film, Kapoor has hosted the 16th IIFA Awards ceremony in 2015 and the seventh season of the television reality show Fear Factor: Khatron Ke Khiladi in 2016.</p>

		<h2 id="Alia">Alia Bhatt <span class="post-span">- 25 Feb 2016</span></h2>
        
		<img src="http://staticpopopics.popopics.com/uploads/display/alia-bhatt-beautiful-wallpapers.jpg" class="post-img" alt="Bild" />
		<p>Alia Bhatt (born 15 March 1993) is an Indian actress who appears in Bollywood films. The daughter of filmmaker Mahesh Bhatt and actress Soni Razdan, Bhatt first appeared on screen as a child artist in a minor role in the thriller Sangharsh (1999). As an adult, she made her acting debut alongside Sidharth Malhotra and Varun Dhawan in Karan Johar's romantic drama Student of the Year (2012).

Bhatt's portrayal of a teenage girl who develops stockholm syndrome in Imtiaz Ali's road movie Highway (2014) garnered her critical acclaim. She won the Filmfare Critics Award for Best Actress and also received a Best Actress nomination at the same ceremony. She went on to establish herself in Bollywood by starring in the romantic drama 2 States (2014) and the romantic comedy Humpty Sharma Ki Dulhania (2014), both of which earned over ₹1 billion (US$15 million) worldwide.

In addition to acting in films, Bhatt has sung two of her film songs. She participates in stage shows, and has launched her own line of clothing for women.</p>

		<h2 id="Pri">Priyanka Chopra <span class="post-span">-25 Feb 2016 </span></h2>
		<img src="http://www.indicine.com/img/2012/11/Priyanka-Chopra-on-GQ.jpg" class="post-img" alt="Bild" />
		<p>Priyanka Chopra ( born 18 July 1982) is an Indian film actress, singer, producer, and the winner of the Miss World pageant of 2000. Through her film career, she has become one of Bollywood's highest-paid actresses and one of the most popular and high-profile celebrities in India. She has received numerous awards and nominations, including a National Film Award, and Filmfare Awards in five categories. She was awarded the Padma Shri, the fourth highest civilian award, by the Government of India in 2016.

Although Chopra initially aspired to study engineering or psychiatry, her mother entered her into the Femina Miss India pageant in 2000, in which she placed second. She was then crowned Miss World 2000, after which she began receiving offers to act in film. Chopra made her acting debut in the hit Tamil film Thamizhan in 2002 and starred in the spy thriller The Hero: Love Story of a Spy (2003), her first Hindi film release. Her first notable role was in the romantic drama Andaaz (2003) which won her the Filmfare Award for Best Female Debut. Chopra later played the lead female role in the 2004 box office hit Mujhse Shaadi Karogi, following which she received wide critical praise and the Filmfare Award for Best Villain for her breakthrough role of a seductress in the thriller Aitraaz, the same year. By 2006, Chopra had established herself as a leading actress of Hindi cinema with primary roles in the blockbusters Krrish and Don. However, this was followed by a series of poorly received films in which her brief, glamorous roles failed to propel her career forward.</p>
	</div>
      
      
<% include partials/footer.ejs %>
    
