<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %> Page</h1>
      <img id="me" src="http://excellertechnologies.com/images/student_projects.jpg"
         alt="Me" style="width:500px;height:550px;">
     
    
   <p id="p1">Arduino Project  (Jan 2015- April 2015)</br>	
Mini printer which works with Bluetooth and USB cable. </br>
Basically it was thermal printer which can be used for </br>
daily or business purpose for printer receipts and images too.</p>
 <p id="p1">Web Development (May 2015- August 2015)
Description: I made a web site in which I created a user </br>
complete user administration. User can register on the</br>
 website and add new members to the website. Also they can</br>
  create their own pages and add stuff to it, make changes</br>
   to there to their pages as they wanted. I used different </br>
   css style sheets, php, various html tags, java script and </br>
   form page to sign up.</p>


 
    </main>
<% include partials/footer.ejs %>
    
