<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %> Page</h1>
  
       <img id="me" src="https://ichemepresident.files.wordpress.com/2014/09/skills.jpg"
         alt="Me" style="width:500px;height:550px;">
     
     <ul id ="skills">
  <li>	Progamming Languages : C, PHP, MySQL, HTML, Java </li>
	<li>Databases : SQL Server</li>
   <li>Mainframe : Vista tn3270</li>
	<li>Office Tools : MS Word, MS Excel, MS Powerpoint, Outlook, Access Visio</li>
<li>Operating System: Windows XP, Windows Vista, Windows 7, Windows 8 and Mac.</li>
	<li>Photo and Video editing: Gimp, Photoshop, Windows Video Editor, Online Video Editors</li>

</ul>
    </main>
<% include partials/footer.ejs %>
    
